@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  scroll-behavior: smooth;
  font-family: "Open Sans", openSans;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.font-sm {
  font-size: 14px;
}

.font-md-1 {
  font-size: 18px;
}

.font-md {
  font-size: 32px;
}

.font-lg {
  font-size: 44px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-btn-sm {
  color: #ffffff;
  background-color: #004dff;
  line-height: 3.57;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 5px 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.primary-btn-sm:hover {
  background-color: transparent;
  transition: 0.2s ease-in;
  border: 2px solid #004dff;
  color: #004dff;
}

.primary-btn-md {
  color: #ffffff;
  background-color: #004dff;
  line-height: 3.57;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 15px 26px;
  position: absolute;
  left: 70%;
  bottom: 24px;
  line-height: normal;
}
.primary-btn-md:hover {
  background-color: transparent;
  transition: 0.2s ease-in;
  border: 2px solid #004dff;
  color: #004dff;
}

.secondary-btn {
  color: #ffffff;
  background-color: #1dc679;
  line-height: 3.57;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 15px 22.5px;
}
.secondary-btn:hover {
  background-color: transparent;
  transition: 0.2s ease-in;
  border: 2px solid #1dc679;
  color: #004dff;
}
.secondary-btn:hover {
  background-color: #fff;
  color: #1dc679;
}

@media (max-width: 480px) {
  .primary-btn-sm {
    padding: 3px 20px;
  }
  .primary-btn-md {
    left: 70%;
    bottom: 30px;
    padding: 10px 15px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .primary-btn-sm {
    padding: 3px 20px;
  }
  .primary-btn-md {
    left: 80%;
    bottom: 30px;
    padding: 10px 15px;
  }
}
.dropdown {
  width: 150px;
  height: 50px;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
  position: relative;
  float: left;
  border-right: 1px solid #000;
}
.dropdown::before {
  content: "";
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 1;
  width: 12px;
  height: 12px;
  border: 2px solid #454545;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
}
.dropdown input {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  padding: 25px 24px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.dropdown .options {
  width: 100%;
  border-radius: 9px;
  padding: 8px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  overflow: hidden;
  position: absolute;
  top: 80px;
  transition: all 0.5s ease;
  border: 1px solid rgba(255, 255, 255, 0.18);
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;
}
.dropdown .options .option {
  padding: 10px;
  transition: all 0.2s ease;
  color: #292d34;
}
.dropdown .options .option:not(:last-of-type) {
  margin-bottom: 8px;
}
.dropdown .options .option:hover {
  color: #ffffff;
  background-color: #454545;
}
.dropdown.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(-26px);
}
.dropdown.opened::before {
  transform: rotate(-225deg);
  top: 20px;
}

@media (max-width: 480px) {
  .dropdown {
    width: 80px;
    height: 50px;
  }
  .dropdown::before {
    width: 9px;
    height: 9px;
    left: 60px;
  }
  .dropdown input {
    font-size: 14px;
    padding: 2px 5px;
  }
  .dropdown .options .option {
    padding: 2px;
  }
  .dropdown.opened::before {
    transform: rotate(-225deg);
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .dropdown {
    width: 100px;
    height: 50px;
  }
  .dropdown input {
    font-size: 14px;
    padding: 2px 5px;
  }
  .dropdown .options .option {
    padding: 2px;
  }
  .dropdown::before {
    left: 55px;
  }
  .dropdown.opened::before {
    transform: rotate(-225deg);
  }
}
.hero .search-container {
  position: relative;
  display: inline-block;
}
.hero .search-container svg {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 20px;
}
.hero .search-container .search-input {
  width: 405px;
  height: 50px;
  padding-left: 50px;
  color: #454545;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  outline: none;
}

@media (max-width: 480px) {
  .hero .search-container .search-input {
    width: 230px;
    font-size: 12px;
    padding-left: 40px;
  }
}
@media (max-width: 370px) {
  .hero .search-container .search-input {
    width: 180px;
    font-size: 10px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .hero .search-container .search-input {
    width: 300px;
    font-size: 13px;
    padding-left: 40px;
  }
}
.client-card-section .card-wrapper {
  min-width: 2300px;
  width: 100%;
  margin-left: 90px;
}
.client-card-section .card-wrapper .client-card {
  width: 350px;
  height: 500px;
  margin-top: 100px;
  padding: 50px 20px 0px;
  border-radius: 5px;
  background-color: #f6f7f9;
  text-align: center;
  color: #454545;
  transition: all 0.5s ease-in-out;
}
.client-card-section .card-wrapper .client-card:nth-of-type(1) {
  transform: translateY(-30px);
}
.client-card-section .card-wrapper .client-card.active {
  z-index: 2;
  opacity: 1;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  position: relative;
  height: 540px;
}
.client-card-section .card-wrapper .client-card .card-profile {
  width: 120px;
  height: 120px;
  margin-bottom: 37px;
}
.client-card-section .card-wrapper .client-card .card-title {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: bold;
}
.client-card-section .card-wrapper .client-card .card-description {
  line-height: 1.5;
}
.client-card-section .arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 60%;
  cursor: pointer;
}
.client-card-section .left {
  left: -10px;
}
.client-card-section .right {
  right: -10px;
}

@media (max-width: 480px) {
  .client-card-section .card-wrapper {
    justify-content: flex-start;
    margin-left: 0;
  }
  .client-card-section .card-wrapper .client-card {
    width: 380px;
    text-align: center;
  }
  .client-card-section .card-wrapper .client-card .card-profile {
    width: 90px;
    height: 90px;
  }
  .client-card-section .card-wrapper .client-card .card-description {
    width: 90%;
  }
  .client-card-section .card-wrapper .client-card.active {
    height: 500px;
  }
  .client-card-section .left {
    left: 0;
  }
  .client-card-section .right {
    right: 0;
    z-index: 2;
  }
}
@media (max-width: 360px) {
  .client-card-section .card-wrapper {
    margin-left: 0;
  }
  .client-card-section .card-wrapper .client-card {
    position: relative;
    right: 30px;
    max-width: 100%;
    text-align: center;
  }
  .client-card-section .card-wrapper .client-card .card-profile {
    width: 90px;
    height: 90px;
    margin-right: 70px;
  }
  .client-card-section .card-wrapper .client-card .card-title {
    margin-right: 50px;
  }
  .client-card-section .card-wrapper .client-card .card-description {
    width: 80%;
  }
  .client-card-section .card-wrapper .client-card.active {
    height: 500px;
  }
}
@media (min-width: 615px) and (max-width: 769px) {
  .client-card-section .card-wrapper {
    justify-content: flex-start;
  }
  .client-card-section .card-wrapper .client-card {
    text-align: center;
  }
  .client-card-section .card-wrapper .client-card .card-profile {
    width: 90px;
    height: 90px;
  }
  .client-card-section .card-wrapper .client-card .card-description {
    width: 90%;
  }
  .client-card-section .card-wrapper .client-card.active {
    height: 500px;
  }
  .client-card-section .left {
    left: 0;
  }
  .client-card-section .right {
    right: 0;
    z-index: 2;
  }
}
@media (min-width: 481px) and (max-width: 616px) {
  .client-card-section .card-wrapper {
    justify-content: flex-start;
    margin-left: 50px;
  }
  .client-card-section .card-wrapper .client-card {
    text-align: center;
  }
  .client-card-section .left {
    left: 0;
  }
  .client-card-section .right {
    right: 0;
    z-index: 2;
  }
}
@media (min-width: 769px) and (max-width: 930px) {
  .client-card-section .card-wrapper {
    justify-content: flex-start;
    margin-left: 180px;
  }
  .client-card-section .card-wrapper .client-card {
    text-align: center;
  }
  .client-card-section .card-wrapper .client-card .card-profile {
    width: 90px;
    height: 90px;
  }
  .client-card-section .card-wrapper .client-card .card-description {
    width: 90%;
  }
  .client-card-section .card-wrapper .client-card.active {
    height: 550px;
  }
  .client-card-section .left {
    left: 0;
  }
  .client-card-section .right {
    right: 0;
    z-index: 2;
  }
}
@media (min-width: 931px) and (max-width: 1124px) {
  .client-card-section .card-wrapper {
    justify-content: flex-start;
    margin-left: 270px;
  }
  .client-card-section .card-wrapper .client-card {
    text-align: center;
  }
  .client-card-section .card-wrapper .client-card .card-profile {
    width: 90px;
    height: 90px;
  }
  .client-card-section .card-wrapper .client-card .card-description {
    width: 90%;
  }
  .client-card-section .card-wrapper .client-card.active {
    height: 550px;
  }
  .client-card-section .left {
    left: 0;
  }
  .client-card-section .right {
    right: 0;
    z-index: 2;
  }
}
.villa-label {
  color: #ffffff;
  background-color: #ff9f00;
  line-height: 3.57;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 27px;
  line-height: normal;
}
.villa-label:hover {
  background-color: transparent;
  transition: 0.2s ease-in;
  border: 2px solid #ff9f00;
  color: #004dff;
}
.villa-label:hover {
  background-color: #ff9f00;
  color: #ffffff;
}

@media (min-width: 481px) and (max-width: 769px) {
  .villa-label {
    padding: 15px 30px;
  }
}
.featured-property .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.featured-property .card-wrapper .card {
  width: 345px;
  height: 400px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: solid 2px #f0f0f1;
  background-color: #ffffff;
  cursor: pointer;
}
.featured-property .card-wrapper .card:hover {
  box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.2);
}
.featured-property .card-wrapper .card .card-img {
  width: 343px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.featured-property .card-wrapper .card .card-body {
  padding: 19px 17px 50px;
  color: #454545;
}
.featured-property .card-wrapper .card .card-body .card-title {
  margin-bottom: 20px;
}
.featured-property .card-wrapper .card .card-body .card-price {
  margin-bottom: 20px;
  font-weight: bold;
  color: #004dff;
}
.featured-property .card-wrapper .card .card-body .card-description {
  margin-bottom: 21px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
}
.icon-container span {
  opacity: 0.7;
}
.icon-container svg {
  margin-right: 5px;
}
.icon-container svg:hover path {
  stroke: #75C2F6;
}
.icon-container .icon-baths {
  display: flex;
  justify-content: center;
}
.icon-container .icon-baths svg {
  position: relative;
  top: -4px;
}

@media (max-width: 480px) {
  .featured-property h2 {
    font-size: 25px;
    text-align: center;
  }
  .featured-property .card-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .featured-property .card-wrapper .card {
    width: 100%;
    height: 420px;
  }
  .featured-property .card-wrapper .card .card-img {
    width: 100%;
    height: 200px;
  }
  .featured-property .card-wrapper .card .card-body {
    text-align: center;
    padding: 19px 7px 50px;
  }
  .icon-container {
    justify-content: space-around;
  }
}
@media (min-width: 481px) and (max-width: 735px) {
  .featured-property h2 {
    font-size: 25px;
    text-align: center;
  }
  .featured-property .card-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .featured-property .card-wrapper .card {
    margin-left: 10px;
  }
  .featured-property .card-wrapper .card .card-img {
    width: 100%;
    height: 200px;
  }
  .featured-property .card-wrapper .card .card-body {
    text-align: center;
    padding: 19px 7px 50px;
  }
  .icon-container {
    justify-content: space-around;
  }
}
@media (min-width: 736px) and (max-width: 1075px) {
  .featured-property h2 {
    font-size: 25px;
    text-align: center;
  }
  .featured-property .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .featured-property .card-wrapper .card {
    margin-left: 10px;
  }
  .featured-property .card-wrapper .card .card-img {
    width: 100%;
    height: 200px;
  }
  .featured-property .card-wrapper .card .card-body {
    text-align: center;
    padding: 19px 7px 50px;
  }
}
@media (min-width: 1076px) {
  .featured-property .card-wrapper {
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}
.navbar {
  color: #ffffff;
  position: absolute;
  width: 100%;
  padding: 20px 0;
}
.navbar > a {
  display: block;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar .container nav {
  display: flex;
  align-items: center;
}
.navbar .container nav .nav-center {
  display: flex;
  align-items: center;
}
.navbar .container nav .nav-center li:not(:last-child) {
  margin-right: 40px;
}
.navbar .container nav .nav-center li a {
  color: #ffffff;
  font-weight: 600;
}
.navbar .container nav .nav-center li a::after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 3px;
  background-color: rgb(147, 227, 131);
  transition: 0.4s;
}
.navbar .container nav .nav-center li a:hover::after {
  width: 100%;
}
.navbar .container .nav-end a:nth-child(1) {
  margin-right: 25px;
}
.navbar .container .nav-end a img {
  width: 20px;
}
.navbar .container .nav-end a svg:hover path {
  fill: rgb(80, 223, 45);
}
.navbar .container .hamburger {
  display: none;
}

.navbar-fixed {
  position: fixed;
  background-color: #004dff;
  transition: 0.3s ease;
  z-index: 3;
}

@media (max-width: 480px) {
  .navbar .container > a img {
    width: 140px;
  }
  .navbar .container nav .nav-center li {
    display: none;
  }
  .navbar .container nav .nav-active {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 70%;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
  }
  .navbar .container nav .nav-active li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 20px;
    display: block;
  }
  .navbar .container .nav-end {
    display: none;
  }
  .navbar .container .hamburger {
    width: 20px;
    height: 30px;
    display: block;
  }
  .navbar .container .hamburger .bar, .navbar .container .hamburger::before, .navbar .container .hamburger::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin-top: 5px;
    background-color: #ffffff;
    transition: 0.4s ease;
  }
  .navbar .container .hamburger.hamburger-active .bar {
    opacity: 0;
  }
  .navbar .container .hamburger-active::before {
    transform: translate(0px, 10px) rotate(-45deg);
  }
  .navbar .container .hamburger-active::after {
    transform: translate(0px, -8px) rotate(45deg);
  }
}
@media (max-width: 769px) {
  .navbar {
    margin-top: 0;
  }
  .navbar .container > a {
    width: 40px;
  }
  .navbar .container nav .nav-center {
    width: 100%;
  }
  .navbar .container nav .nav-center li {
    display: none;
  }
  .navbar .container nav .nav-active {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 70%;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
  }
  .navbar .container nav .nav-active li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
    font-size: 20px;
    display: block;
  }
  .navbar .container nav .nav-active li:not(:last-child) a {
    color: #000;
  }
  .navbar .container .nav-end {
    display: none;
  }
  .navbar .container .hamburger {
    width: 30px;
    height: 35px;
    display: block;
  }
  .navbar .container .hamburger .bar, .navbar .container .hamburger::before, .navbar .container .hamburger::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin-top: 5px;
    background-color: #ffffff;
    transition: 0.4s ease;
  }
  .navbar .container .hamburger.hamburger-active .bar {
    opacity: 0;
  }
  .navbar .container .hamburger-active::before {
    transform: translate(0px, 10px) rotate(-45deg);
  }
  .navbar .container .hamburger-active::after {
    transform: translate(0px, -8px) rotate(45deg);
  }
}
@media (max-width: 930px) {
  .navbar {
    margin-top: 0;
  }
  .navbar .container > a img {
    width: 130px;
  }
  .navbar .container nav .nav-center {
    width: 100%;
  }
  .navbar .container nav .nav-center li:not(:last-child) {
    margin-right: 20px;
  }
}
.hero {
  background-image: url("https://i.postimg.cc/Gt20TCxJ/background.png");
  background-size: cover;
  height: 723px;
  margin-bottom: 96px;
}
.hero .hero-wrapper {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}
.hero .hero-wrapper .hero-title {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 9px;
}
.hero .hero-wrapper .hero-description {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}

@media (max-width: 480px) {
  .hero {
    margin-bottom: 30px;
    height: 100vh;
  }
  .hero .hero-wrapper .hero-title {
    font-size: 33px;
  }
  .hero .hero-wrapper .hero-description {
    font-size: 15px;
  }
}
@media (max-width: 769px) {
  .hero {
    margin-bottom: 30px;
    height: 100vh;
  }
  .hero .hero-wrapper .hero-description {
    font-size: 20px;
  }
}
.featured-property {
  margin-bottom: 150px;
}
.featured-property h2 {
  margin-bottom: 30px;
  letter-spacing: -1px;
  color: #000;
}

@media (max-width: 480px) {
  .featured-property {
    margin-bottom: 100px;
  }
}
@media (max-width: 769px) {
  .featured-property {
    margin-bottom: 100px;
  }
}
@media (max-width: 930px) {
  .featured-property h2 {
    text-align: center;
  }
}
@media (min-width: 931px) and (max-width: 1100px) {
  .featured-property h2 {
    text-align: center;
  }
}
.property-information {
  margin-bottom: 100px;
}
.property-information .information-card-wrapper .information-card {
  width: 500px;
  padding: 46px 50px 60px;
  border-radius: 5px;
  background-color: #f6f7f9;
}
.property-information .information-card-wrapper .information-card h2 {
  width: 366px;
  margin-bottom: 14px;
  color: #004dff;
}
.property-information .information-card-wrapper .information-card p {
  margin-bottom: 19px;
  color: #454545;
}
.property-information .information-card-wrapper .contact-card {
  width: 500px;
  padding: 46px 50px 60px;
  border-radius: 5px;
  background-color: #004dff;
}
.property-information .information-card-wrapper .contact-card h2 {
  width: 264px;
  margin-bottom: 14px;
  font-weight: bold;
  color: #ffffff;
}
.property-information .information-card-wrapper .contact-card p {
  margin-bottom: 26px;
  color: #ffffff;
}

@media (max-width: 480px) {
  .property-information {
    margin-bottom: 50px;
  }
  .property-information .information-card-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .property-information .information-card-wrapper .information-card {
    padding: 46px 30px;
    width: 100%;
    margin-bottom: 20px;
  }
  .property-information .information-card-wrapper .information-card h2 {
    width: 100%;
    font-size: 22px;
  }
  .property-information .information-card-wrapper .contact-card {
    width: 100%;
  }
  .property-information .information-card-wrapper .contact-card h2 {
    width: 100%;
    font-size: 30px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .property-information {
    margin-bottom: 50px;
  }
  .property-information .information-card-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .property-information .information-card-wrapper .information-card {
    padding: 46px 30px;
    width: 100%;
    margin-bottom: 20px;
  }
  .property-information .information-card-wrapper .information-card h2 {
    width: 100%;
    font-size: 30px;
  }
  .property-information .information-card-wrapper .contact-card {
    width: 100%;
  }
  .property-information .information-card-wrapper .contact-card h2 {
    width: 100%;
    font-size: 35px;
  }
}
@media (max-width: 930px) {
  .property-information .information-card-wrapper {
    text-align: center;
  }
  .property-information .information-card-wrapper .information-card {
    padding: 46px 30px;
    width: 100%;
  }
  .property-information .information-card-wrapper .information-card h2 {
    width: 100%;
    font-size: 30px;
  }
  .property-information .information-card-wrapper .contact-card {
    width: 100%;
    padding: 46px 30px;
  }
  .property-information .information-card-wrapper .contact-card h2 {
    width: 100%;
    font-size: 35px;
  }
}
.villa-section {
  background-image: url("https://i.postimg.cc/cLZQZLxz/background-image-copy.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
  margin-bottom: 97px;
}
.villa-section .container .villa-card {
  width: 500px;
  padding: 46px 50px 60px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 138px;
  margin-bottom: 27px;
}
.villa-section .container .villa-card .card-title {
  margin-bottom: 20px;
  letter-spacing: -1px;
}
.villa-section .container .villa-card .card-price {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #004dff;
}
.villa-section .container .villa-card .card-description {
  margin-bottom: 21px;
  font-size: 17px;
}
.villa-section .container .contact-card {
  position: absolute;
  top: 530px;
  width: 500px;
  background-color: #ffffff;
  padding: 24px 12px 30px 50px;
  border-radius: 5px;
}
.villa-section .container .contact-card::before {
  content: " ";
  background-image: url("https://i.postimg.cc/85cT8Mfb/man.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.villa-section .container .contact-card .card-title {
  color: #454545;
  margin-left: 60px;
}
.villa-section .container .contact-card .card-position {
  opacity: 0.7;
  color: #454545;
  margin-left: 60px;
  display: inline;
}

@media (max-width: 480px) {
  .villa-section {
    margin-bottom: 40px;
  }
  .villa-section .container .villa-card {
    width: 90%;
    padding: 40px 0px 50px;
    top: 100px;
    text-align: center;
  }
  .villa-section .container .villa-card .card-title {
    font-size: 23px;
  }
  .villa-section .container .contact-card {
    top: 500px;
    width: 90%;
    padding: 24px 12px 30px 5px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .villa-section {
    margin-bottom: 40px;
  }
  .villa-section .container .villa-card {
    width: 95%;
    padding: 40px 0px 50px;
    top: 100px;
    text-align: center;
  }
  .villa-section .container .contact-card {
    top: 500px;
    width: 95%;
  }
  .icon-container {
    justify-content: space-around;
  }
}
.client-card-section {
  margin-bottom: 100px;
  position: relative;
}
.client-card-section .container-box {
  overflow: hidden;
  width: 100%;
}
.client-card-section h2 {
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 81px;
}

@media (max-width: 480px) {
  .client-card-section .container-box {
    margin-left: 14px;
  }
  .client-card-section h2 {
    margin-bottom: 20px;
    font-size: 25px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .client-card-section .container-box {
    margin-left: 14px;
  }
  .client-card-section h2 {
    margin-bottom: 20px;
    font-size: 25px;
  }
}
footer {
  width: 100%;
  overflow: auto;
  padding: 50px 40px 49px;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer img {
  margin-bottom: 29px;
}
footer p {
  line-height: 1.71;
  color: #454545;
  width: 730px;
}

@media (max-width: 769px) {
  footer p {
    width: 100%;
  }
}
@media (max-width: 480px) {
  footer img {
    margin-right: 30px;
  }
  footer p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
