@mixin breakpoints($bp){
    @media (max-width:$bp){
      @content;
    }
  }

@mixin information-card($bg-color){
  width: 500px;
  padding: 46px 50px 60px;
  border-radius: 5px;
  background-color: $bg-color;
}
@mixin btn($bg-color){
  color: $light-color;
  background-color: $bg-color;
  line-height: 3.57;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover{
    background-color: transparent;
    transition: 0.2s ease-in;
    border: 2px solid $bg-color;
    color: $primary-color;
  }
}