.primary-btn-sm{
    @include btn($primary-color);
    padding: 5px 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.primary-btn-md{
    @include btn($primary-color);
    padding: 15px 26px;
    position: absolute;
    left:70%;
    bottom: 24px;
    line-height: normal;
}

.secondary-btn {
    @include btn($secondary-color);
    padding: 15px 22.5px;
    &:hover{
        background-color: #fff;
        color: #1dc679;
    }
}
@include breakpoints(map-get($breakpoints, "viewport-sm")){
 .primary-btn-sm{
    padding: 3px 20px;
 }
    .primary-btn-md{
    left:70%;
    bottom:30px;
    padding: 10px 15px;
 }
}
@media(min-width:481px) and (max-width:769px){
    .primary-btn-sm{
       padding: 3px 20px;
    }
       .primary-btn-md{
       left:80%;
       bottom:30px;
       padding: 10px 15px;
    }
   }