.dropdown {
    width: 150px;
    height: 50px;
    background: $light-color;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
    position: relative;
    float: left;
    border-right: 1px solid $dark-color;

    &::before {
        content: "";
        position: absolute;
        right: 20px;
        top: 15px;
        z-index: 1;
        width: 12px;
        height: 12px;
        border: 2px solid $dark-color-1;
        border-top: transparent;
        border-right: transparent;
        transform: rotate(-45deg);
    }

    & input {
        width: 100%;
        height: 100%;
        border-radius: 9px;
        padding: 25px 24px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
        position: absolute;
        top: 0;
        left: 0;
    }

    & .options {
        width: 100%;
        border-radius: 9px;
        padding: 8px;
        cursor: pointer;
        background: $light-color;
        border: none;
        outline: none;
        box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
        overflow: hidden;
        position: absolute;
        top: 80px;
        transition: all 0.5s ease;
        border: 1px solid rgba(255, 255, 255, 0.18);
        opacity: 0;
        transform: translateY(-50px);
        visibility: hidden;

        & .option {
            padding: 10px;
            transition: all 0.2s ease;
            color: #292d34;

            &:not(:last-of-type) {
                margin-bottom: 8px;
            }

            &:hover {
                color: $light-color;
                background-color: $dark-color-1;
            }
        }

    }

    &.opened .options {
        opacity: 1;
        visibility: visible;
        transform: translateY(-26px);
    }

    &.opened::before {
        transform: rotate(-225deg);
        top: 20px;
    }

}
@include breakpoints(map-get($breakpoints, "viewport-sm")){
    .dropdown{
        width: 80px;
        height: 50px;
        & input{
            font-size: 14px;
            padding: 2px 5px;
        }
        & .options{
            & .option {
                padding: 5px;
            }
        }
        &::before{
            left: 55px;
        }
        &.opened::before {
            transform: rotate(-225deg);
            
        }
    }
}