.featured-property {
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .card {
            width: 345px;
            height: 400px;
            margin-bottom: 30px;
            border-radius: 20px;
            border: solid 2px $light-color-2;
            background-color: $light-color;
            cursor: pointer;
            &:hover{
                box-shadow: 0 3px 28px 0 rgba(0,0,0,0.2);
            }

            .card-img {
                width: 343px;
                height: 200px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

            }

            .card-body {
                padding: 19px 17px 50px;
                color: $dark-color-1;

                .card-title {
                    margin-bottom: 20px;
                }

                .card-price {
                    margin-bottom: 20px;
                    font-weight: bold;
                    color: $primary-color;
                }

                .card-description {
                    margin-bottom: 21px;
                }
            }
        }
    }

}
.icon-container{
    display: flex;
    justify-content: space-between;
    span{
        opacity: 0.7;
    }
    svg{
        margin-right: 5px;
        &:hover path{
            stroke: #75C2F6;
        }
       
    }
   .icon-baths{
        display: flex;
        justify-content: center;
        svg{
          position: relative;
          top:-4px;
        }
    } 
}

@include breakpoints(map-get($breakpoints, "viewport-sm")){
    .featured-property{
        h2{
            font-size: 25px;
            text-align: center;
        }
    .card-wrapper{
        grid-template-columns: 1fr;
        justify-items: center;
        .card {
            width: 100%;
            height: 420px;
            .card-img {
                width: 100%;
                height: 200px;
    
            }
            .card-body{
                text-align: center;
               padding: 19px 7px 50px;
            
            }
        }
       
    }
}
.icon-container{
    justify-content: space-around;
}

}
@media(min-width:481px) and (max-width:735px){
    .featured-property{
        h2{
            font-size: 25px;
            text-align: center;
        }
    .card-wrapper{
        grid-template-columns: 1fr;
        justify-items: center;

        .card {
              margin-left: 10px;
            .card-img {
                width: 100%;
                height: 200px;
    
            }
            .card-body{
                text-align: center;
               padding: 19px 7px 50px;
            
            }
        }
       
    }
}
.icon-container{
    justify-content: space-around;
}
}

@media(min-width:736px) and (max-width:1075px){
    .featured-property{
        h2{
            font-size: 25px;
            text-align: center;
        }
    .card-wrapper{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        .card {
              margin-left: 10px;
            .card-img {
                width: 100%;
                height: 200px;
    
            }
            .card-body{
                text-align: center;
               padding: 19px 7px 50px;
             
            }
        }
       
    }
}

}
@media(min-width:1076px){
    .featured-property{
       .card-wrapper{
        justify-items:center;
        grid-template-columns: repeat(3, 1fr);
       }
    }
}