.hero {
  .search-container {
    position: relative;
    display: inline-block;

    svg {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 15px;
      left: 20px;
    }

    .search-input {
      width: 405px;
      height: 50px;
      padding-left: 50px;
      color: $dark-color-1;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border: none;
      outline: none;
    }
  }
}

@include breakpoints(map-get($breakpoints, "viewport-sm")) {
  .hero {
    .search-container {
      .search-input {
        width: 230px;
        font-size: 12px;
        padding-left: 40px;
      }
    }
  }
}

@media (max-width:350px) {
  .hero {
    .search-container {
      .search-input {
        width: 180px;
        font-size: 10px;
      }

    }
  }
}

@media(min-width:481px) and (max-width:769px) {
  .hero {
    .search-container {
    .search-input {
      width: 300px;
      font-size: 13px;
      padding-left: 40px;
    }
  }
  }
}