.hero {
  .search-container {
    position: relative;
    display: inline-block;
  }

  .search-input {
    width: 405px;
    height: 50px;
    padding-left: 70px;
    color: $dark-color-1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
  }

  .search-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 27px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('https://i.postimg.cc/mr5ppHYM/search.png');
    background-size: cover;
    cursor: pointer;
  }
}

@include breakpoints(map-get($breakpoints, "viewport-sm")) {
  .hero {
    .search-input {
      width: 100%;
      font-size: 13px;
      padding-left: 40px;
    }
    .search-container::before{
      left:10px;
    }
  }
}