.client-card-section{
      .card-wrapper{
        min-width: 2345px;
        width: 100%;    
        .client-card{
            width: 340px;
            height: 500px;
            margin-top: 100px;
            padding: 50px 20px 0px;
            border-radius: 5px;
            background-color: $light-color-1;
            text-align: center;
            color: $dark-color-1;
            transition: all 0.5s ease-in-out;
             &:nth-of-type(1){
                 transform: translateY(-30px);
             }
            
            &.active {
                z-index: 2;
                opacity: 1;
                box-shadow: 1px 1px 3px 3px rgba(20,20,20,0.4);
                background-color:$light-color;
                position: relative ;
                height: 540px;
              }
            .card-profile{
                width: 120px;
                height: 120px;
                margin-bottom: 37px;
            }
            .card-title{  
               margin-bottom: 18px;
                font-size: 24px;
                font-weight: bold;  
            }
            .card-description{
                line-height: 1.5;
            }
        }
    }
    .arrow{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 60%;
        cursor: pointer;
    }
    .left{
        left: 25px;
    }
    .right{
        right: -20px;
    }
}
@include breakpoints(map-get($breakpoints, "viewport-sm")) {
.client-card-section{
    .card-wrapper{
        justify-content: flex-start;
        width: 100%;
        .client-card{
            width: 100%;
            .card-profile{
                // width: 100%;
            }
            .card-title{  
                width: 100%;
            }
            .card-description{
               width: 70%;
            }
        }
    }
    .left{
        left: 0;
    }
    .right{
        right: 0;
    }
}
}