.featured-property {
    margin-bottom: 150px;

    h2 {
        margin-bottom: 30px;
        letter-spacing: -1px;
        color: $dark-color;
    }

}

@include breakpoints(map-get($breakpoints, "viewport-sm")) {
    .featured-property{
        margin-bottom: 100px;
    }
}
@include breakpoints(map-get($breakpoints, "viewport-md")) {
    .featured-property{
        margin-bottom: 100px;
    }
}
@include breakpoints(map-get($breakpoints, "viewport-lg")){
    .featured-property{
        h2{
            text-align: center;
        }
    }
}
@media(min-width:931px) and (max-width:1100px){
    .featured-property{
        h2{
            text-align: center;
        }
    }
}