footer {
    width: 100%;
    overflow: auto;
    padding: 50px 40px 49px;
    background-color: $light-color-1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        margin-bottom: 29px;
    }

    p {
        line-height: 1.71;
        color: $dark-color-1 ;
        width: 730px;

    }
}

@include breakpoints(map-get($breakpoints, "viewport-sm")) {
    footer {
        img {
            margin-right: 30px;
        }
        p{
            width: 100%;
        }
    }
}