.navbar {
    color: $light-color;
    position: absolute;
    width: 100%;
    padding: 20px 0;

    &>a {
        display: block;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        nav {
            display: flex;
            align-items: center;

            .nav-center {
                display: flex;
                align-items: center;

                li {
                    &:not(:last-child) {
                        margin-right: 40px;
                    }

                    a {
                        color: $light-color;
                        font-weight: 600;

                        &::after {
                            content: " ";
                            display: block;
                            margin: 0 auto;
                            width: 0%;
                            height: 3px;
                            background-color: rgb(147, 227, 131);
                            transition: 0.4s;

                        }

                        &:hover::after {
                            width: 100%;

                        }

                    }
                }

            }
        }

        .nav-end {
            a {
                &:nth-child(1) {
                    margin-right: 25px;
                }

                img {
                    width: 20px;
                }
            }
        }

        .hamburger {
            display: none;
        }

    }

}
.navbar-fixed{
    position: fixed;
    background-color: $primary-color;
    transition: 0.3s ease;
    z-index: 3;
}

@include breakpoints(map-get($breakpoints, "viewport-sm")) {
    .navbar {
        .container {
            &>a {
                img{
             width: 140px;
                }
            }

            nav {
                .nav-center {
                    li {
                        display: none;
                    }
                }

                .nav-active {
                    flex-direction: column;
                    height: 100vh;
                    width: 100vw;
                    left: 0;
                    top: 70%;
                    justify-content: center;
                    background-color: $light-color;
                    position: absolute;
                    z-index: 1;

                    li {
                        &:not(:last-child) {
                            margin-right: 0;
                            margin-bottom: 40px;
                            font-size: 20px;
                            display: block;
                        }
                    }
                }
            }

            .nav-end {
                display: none;
            }

            .hamburger {
                width: 20px;
                height: 30px;
                display: block;

                .bar,
                &::before,
                &::after {
                    content: '';
                    width: 100%;
                    height: 4px;
                    display: block;
                    margin-top: 5px;
                    background-color: $light-color;
                    transition: 0.4s ease;
                }

                &.hamburger-active .bar {
                    opacity: 0;
                }
            }

            .hamburger-active {
                &::before {
                    transform: translate(0px, 10px) rotate(-45deg);
                }

                &::after {
                    transform: translate(0px, -8px) rotate(45deg);
                }
            }

        }

    }

}

@include breakpoints(map-get($breakpoints, "viewport-md")) {
    .navbar {
        margin-top: 0;

        .container {
            &>a {
                width: 40px;
            }

            nav {
                .nav-center {
                    width: 100%;

                    li {
                        display: none;

                    }
                }

                .nav-active {
                    flex-direction: column;
                    height: 100vh;
                    width: 100vw;
                    left: 0;
                    top: 70%;
                    justify-content: center;
                    background-color: $light-color;
                    position: absolute;
                    z-index: 1;

                    li {
                        &:not(:last-child) {
                            margin-right: 0;
                            margin-bottom: 40px;
                            font-size: 20px;
                            display: block;

                            a {
                                color: $dark-color;
                            }
                        }
                    }
                }
            }

            .nav-end {
                display: none;
            }

            .hamburger {
                width: 30px;
                height: 35px;
                display: block;

                .bar,
                &::before,
                &::after {
                    content: '';
                    width: 100%;
                    height: 4px;
                    display: block;
                    margin-top: 5px;
                    background-color: $light-color;
                    transition: 0.4s ease;
                }

                &.hamburger-active .bar {
                    opacity: 0;
                }
            }

            .hamburger-active {
                &::before {
                    transform: translate(0px, 10px) rotate(-45deg);
                }

                &::after {
                    transform: translate(0px, -8px) rotate(45deg);
                }
            }

        }

    }
}