.hero {
  background-image: url('https://i.postimg.cc/hj1Tbxv7/background.png');
  background-size: cover;

  height: 723px;
  margin-bottom: 96px;

  .hero-wrapper {
    position: relative;
    top: 40%;
    transform: translateY(-40%);

    .hero-title {
      font-weight: bold;
      color: $light-color;
      margin-bottom: 9px;
    }

    .hero-description {
      font-weight: bold;
      color: $light-color;
      margin-bottom: 40px;
    }

  }

}
@include breakpoints(map-get($breakpoints, "viewport-sm")){
  .hero{
    margin-bottom: 30px;
    height:100vh;
    .hero-wrapper{
      .hero-title{
        font-size: 33px;
      }
      .hero-description{
        font-size: 15px;
      }
    }
  }
}
@include breakpoints(map-get($breakpoints, "viewport-md")){
  .hero{
    margin-bottom: 30px;
    height:100vh;
    .hero-wrapper{
      .hero-description{
        font-size: 20px;
      }
    }
  }
}