.property-information {
    margin-bottom: 100px;

    .information-card-wrapper {
        .information-card {
            @include information-card($light-color-1);

            h2 {
                width: 366px;
                margin-bottom: 14px;
                color: #004dff;
            }

            p {
                margin-bottom: 19px;
                color: #454545;
            }

        }

        .contact-card {
            @include information-card($primary-color);

            h2 {
                width: 264px;
                margin-bottom: 14px;
                font-weight: bold;
                color: $light-color;
            }

            p {
                margin-bottom: 26px;
                color: $light-color;
            }

        }

    }
}

@include breakpoints(map-get($breakpoints, "viewport-sm")) {
    .property-information{
        margin-bottom: 50px;
        .information-card-wrapper{
            flex-direction: column;
            text-align: center;
            .information-card{
                padding: 46px 30px;
                width: 100%;
                margin-bottom: 20px;
                h2{
                    width: 100%;
                    font-size: 22px;
                }
            }
            .contact-card{
                width: 100%;
                h2{
                    width: 100%;
                    font-size: 30px;
                }
            }
        }
    }
}


@media(min-width:481px) and (max-width:769px) {
    .property-information{
        margin-bottom: 50px;
        .information-card-wrapper{
            flex-direction: column;
            text-align: center;
            .information-card{
                padding: 46px 30px;
                width: 100%;
                margin-bottom: 20px;
                h2{
                    width: 100%;
                    font-size: 30px;
                }
            }
            .contact-card{
                width: 100%;
                h2{
                    width: 100%;
                    font-size: 35px;
                }
            }
        }
    }
}
@include breakpoints(map-get($breakpoints, "viewport-lg")){
    .property-information{
        // margin-bottom: 50px;
        .information-card-wrapper{
            // flex-direction: column;
            text-align: center;
            .information-card{
                padding: 46px 30px;
                width: 100%;
                h2{
                    width: 100%;
                    font-size: 30px;
                }
            }
            .contact-card{
                width: 100%;
                padding: 46px 30px;
                h2{
                    width: 100%;
                    font-size: 35px;
                }
            }
        }
    }
}