.property-information {
    margin-bottom: 100px;

    .information-card-wrapper {
        display: flex;
        justify-content: space-between;

        .information-card {
            @include information-card(#f6f7f9);

            h2 {
                width: 366px;
                margin-bottom: 14px;
                font-size: 44px;
                color: #004dff;
            }

            p {
                margin-bottom: 19px;
                font-size: 18px;
                color: #454545;
            }

        }

        .contact-card {
            @include information-card(#004dff);

            h2 {
                width: 264px;
                margin: 0 66px 14px 0;
                font-size: 44px;
                font-weight: bold;
                color: $light-color;
            }

            p {
                margin: 14px 0 26px;
                color: $light-color;
            }

        }

    }
}