.villa-section{
    background-image: url('https://i.postimg.cc/cLZQZLxz/background-image-copy.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    margin-bottom: 97px;
    .container{
        .villa-card{
            @include information-card($light-color);
            position: absolute;
            top:138px;
            margin-bottom: 27px;
            .card-title {
                margin-bottom: 20px;
                letter-spacing: -1px;
            }

            .card-price {
                margin-bottom: 20px;
                font-size: 22px;
                font-weight: bold;
                color: $primary-color;
            }

            .card-description {
                margin-bottom: 21px;
                font-size: 17px;
            }
        }
        .contact-card{
           position: absolute;
           top: 530px;
            width: 500px;
            background-color: $light-color;
            padding: 24px 12px 30px 50px;
            border-radius: 5px;
            &::before{
                content:" ";
                background-image: url('https://i.postimg.cc/85cT8Mfb/man.png');
                background-position: center;
                background-size: cover;
                position:absolute;
                display: inline-block;
                width: 50px;
                height: 50px;
            }
            .card-title{
                color: $dark-color-1;
                 margin-left: 60px;

            }
            .card-position{
                opacity: 0.7;
                color: $dark-color-1;
                margin-left: 60px;
                display: inline;
            }
        }
        
    }

}
@include breakpoints(map-get($breakpoints, "viewport-sm")) {
.villa-section{
    margin-bottom: 40px;
    .container{
  
        .villa-card{
            width: 90%;
            padding: 40px 0px 50px;
            top: 100px;
            text-align: center;
            .card-title{
                font-size: 23px;
            }
        }
        .contact-card{
            top: 500px;
            width: 90%;
            padding: 24px 12px 30px 5px;
        }
    }
}
}
@media(min-width:481px) and (max-width:769px) {
    .villa-section{
        margin-bottom: 40px;
        .container{
      
            .villa-card{
                width: 95%;
                padding: 40px 0px 50px;
                top: 100px;
                text-align: center;
            }
            .contact-card{
                top: 500px;
                width: 95%;
            }
        }
    }
    .icon-container{
        justify-content: space-around;
    }
    }