.villa-section{
    background-image: url('/Assets/background-image-copy.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    margin-bottom: 97px;
    .container{
        .villa-card{
            @include information-card($light-color);
            position: absolute;
            top:138px;
            margin-bottom: 27px;
            .card-title {
                margin-bottom: 20px;
                margin-bottom: 25px;
                font-size: 32px;
                letter-spacing: -1px;
            }

            .card-price {
                margin-bottom: 20px;
                font-size: 22px;
                font-weight: bold;
                color: #004dff;
            }

            .card-description {
                margin-bottom: 11px;
                font-size: 17px;
            }
        }
        .contact-card{
           position: absolute;
           top: 530px;
            width: 500px;
            background-color: $light-color;
            padding: 24px 12px 30px 50px;
            border-radius: 5px;
            &::before{
                content:" ";
                background-image: url('/Assets/man.png');
                background-position: center;
                background-size: cover;
                position:absolute;
                display: inline-block;
                width: 50px;
                height: 50px;
            }
            .card-title{
                font-size: 18px;
                color: #454545;
                 margin-left: 60px;

            }
            .card-position{
                opacity: 0.7;
                font-size: 14px;
                color: #454545;
                margin-left: 60px;
                display: inline;
            }
        }
        
    }

}